﻿<ul>
<li><a href="https://minecraft.curseforge.com/mc-mods/257572">Wearable Backpacks (by InsomniaKitten)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/267602">ConnectedTexturesMod (by tterrag1098)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253211">MTLib (by jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226780">ShadowMC (by shadowfactsmc)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/246125">Can I Join Now? (by CallMeFoxie)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/220954">ModTweaker (by jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226406">Custom Main Menu (by lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/283525">LagGoggles (by Terminator_NL)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/246760">Better With Mods (by BeetoGuy)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/252239">Spartan Shields (by ObliviousSpartan)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/225957">Hardcore Darkness (by lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/296676">Culinary Construct (by theillusivec4)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/280200">Colytra (by theillusivec4)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/270539">Smart HUD (by InsomniaKitten)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/248453">Shadowfacts' Forgelin (by shadowfactsmc)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/285612">RandomPatches (by TheRandomLabs)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/272515">Better Advancements (by Way2muchnoise)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/230976">Fast Leaf Decay (by Olafskii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/225658">AromaBackup (by Aroma1997)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/224472">AppleCore (by squeek502)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245824">Signals (by MineMaarten)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223735">Aroma1997Core (by Aroma1997)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/288885">FastWorkbench (by Shadows_of_Fire)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/248787">AppleSkin (by squeek502)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/238222">Just Enough Items (JEI) (by mezz)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/283447">Hardcore Buoyance (by primetoxinz)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245288">DiscordIntegration (by Chikachi)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/267769">Traverse (by ProfessorProspector)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/242064">Item Scroller (by masa_)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/278494">FoamFix for Minecraft (by asiekierka)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/294335">BetterWithLib (by primetoxinz)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/243121">Quark (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/239197">CraftTweaker (by jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/231095">Chisels & Bits (by AlgorithmX2)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253689">Wolf Armor and Storage (by CenturionFox)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226447">Resource Loader (by lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/278385">Diet Hoppers (by RWTema)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/247665">Extra Rails (by shadowfactsmc)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/241160">NetherPortalFix (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223852">Storage Drawers (by jaquadro)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/265917">JEI Integration (by SnowShock35)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250363">AutoRegLib (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/230497">Chameleon (by jaquadro)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/268326">Better With Addons (by BordListian)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/282743">DiscordSuite (by HRZNStudio)</a></li>
</ul>
